
<div class="row">
<div id="contact-form"class="form-group col-lg-6 ">
                <form action="/contact" method="post">
                 
                    
        <h3 id="contact-header">Send To Me a Message </h3>
                    
         <input id="contact-input"  name="first"type="text "class="col-sm-12  btn btn-dark " placeholder=" Name..">
                     <input id="contact-input"name="last" type="text "class="col-sm-12 btn btn-dark "placeholder=" Last Name..">
                     <input id="contact-input"name="email"  type="text"class="col-sm-12 btn btn-dark " placeholder=" Email..">
                     <textarea id="contact-input"name="body"cols="30"rows="10" class="col-sm-12 btn btn-dark " placeholder=" Your message.."></textarea>
                     <p id="contact-warning" > The Button is disabled until you fill all the inputs .</p>
                     <button  id="btn-send"class="btn btn-dark col-sm-12" >Send</button>
                    
                    </form>
                
            </div>
            </div>
            
            
            