 <!-- register  -->
             <div class="col-lg-10 form-group content-param">
               <div class="row">
                 <div id="login-form"class="form-group col-lg-12">
                    <br>
                    <h3 id="login-header">Login</h3>
                     <form action="" method="post">
                     <input id="login-input"  name="email"type="text"class="btn btn-dark col-lg-12" placeholder=" Email..">
                     <input  id="login-input" name="password"type="password"class="btn btn-dark col-lg-12" placeholder=" password..">
                     <input id="login-input"type="submit" value="Login"class="btn btn-dark col-lg-12">
                   </form>
                    </div>
                     </div>
                   
               </div>