 <!-- register  -->
             <div class="col-lg-10 form-group content-param">
                
           
                 <div class="form-group" id="login-form">
                    <br>
                    <h3 id="login-header">register</h3>
                     <form action="" method="post">
                     <input type="text " name="fname"id="login-input"class="btn btn-dark col-lg-12" placeholder=" Name..">
                     <input  name="lname"type="text "id="login-input"class="btn btn-dark col-lg-12"placeholder=" Last Name..">
                     <input  name="email"type="text"id="login-input"class="btn btn-dark col-lg-12" placeholder=" Email..">
                     <input   name="pass"type="text"id="login-input"class="btn btn-dark col-lg-12" placeholder=" password..">
                     <input  type="submit" value="register"id="login-input"class="btn btn-dark col-lg-12">
                   </form>
                    </div>