<div style="margin-top:30px"class="row">

    <div id="coursesDiv-header" style="margin: auto;" class="col-lg-6">
        <h3 id="courses-header">Markes</h3>
<table class="table table-hover table-borderless" style="margin-top: 10px;">
                    <thead>
                      <tr class=" btn-dark">
                        <th>Module</th>
                        <th>Marks</th>
                        <th>Year</th>
                        

                      </tr>
                    </thead>
                    <br>
                   
                    <tr style="color: white;">
                        <td>
                            <div class="row">
                                <div class="col-lg-10">
                                <h5>Object Oriented Programming</h5>
        
                        </div>
                        </div>
                        </td>
                        
                        
                        <td ><a class="btn btn-outline-danger" href="#"><i class="fas fa-file-pdf"></i></a></td>
                        <td >2017</td>
                    </tr>
                     <tr style="color: white;">
                        <td>
                            <div class="row">
                                <div class="col-lg-10">
                                <h5>Algorithme and Data Structure</h5>
        
                        </div>
                        </div>
                        </td>
                        
                        
                        <td ><a class="btn btn-outline-danger" href="#"><i class="fas fa-file-pdf"></i></a></td>
                        <td >2018</td>
                    </tr>
                    
                    
</table>
</div>
</div>