<div class="col-lg-10 form-group content-param">
                 <input type="text"class="form-control col-lg-6" placeholder="search...">
                 <h3>les cours :</h3>
                 <!-- course -->
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th style="color: #9FEAF9;">module :</th>
                        <th style="color: #9FEAF9;">courses :</thstyle="color: #9FEAF9;">
                        <th style="color: #9FEAF9;">td:</th>
                        <th style="color: #9FEAF9;">tp :</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                    <td style="color: #9FEAF9;">poo </td> 
                    <td style="color: #9FEAF9;">cours 1 </td>
                    <td style="color: #9FEAF9;">td 1 </td>
                    <td style="color: #9FEAF9;">tp 1 </td> 
                    <td style="color: #9FEAF9;"><a href="" class="btn btn-outline-success"><i class="fas fa-edit"></i></a> <a href="" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a></td> 
                              
            </tr>
                </tbody>
                   </table>



</div>