<!-- header -->
{{> admin/header }}

<div class="container-fluid">
    <div class="row">

             <!-- navbar -->
   {{> admin/nav }} 
             <!-- body   -->
             <div class="col-lg-10 form-group content-param">
        {{{ body }}}
                
            </div>
         </div>
         </div>
         <!-- footer -->
      {{> admin/footer }}

