<!-- header -->
{{> default/header }}


    <div class="row">

             <!-- navbar -->
   {{> default/nav }}
             <!-- body   -->
             {{!-- <div class="col-lg-10 form-group content-param"> --}}
        {{{ body }}}
                
            {{!-- </div> --}}
         </div>
         
         <!-- footer -->
      {{> default/footer }}

