<div class="col-lg-10 form-group content-param">
  <div class="row">
 <div class="form-group col-lg-12" id="adn-module-edit"style=" margin-top: 100px;">
  <form class="form-inline"action="/admin/modules/edit/{{modulee.id}}?newMethod=PUT"method="post">
    <input id="adn-module-inputs"name="title"  type="text"class="btn btn-dark col-lg-12" value="{{modulee.title}}">
    <input id="adn-module-inputs"type="submit"  class="btn btn-dark col-lg-12" value="Edit">
</form>
 

</div>
</div>
</div>