        
                           <div class="container">
                 <p style="color: white;text-align:center">قال الله جل وعلا: إِنَّ اللَّهَ وَمَلائِكَتَهُ يُصَلُّونَ عَلَى النَّبِيِّ يَا أَيُّهَا الَّذِينَ آمَنُوا صَلُّوا عَلَيْهِ وَسَلِّمُوا تَسْلِيمًا</p>
<nav style="background-color: transparent;margin:auto;" class="rounded  navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand " href="/"><img  style="height: 150px;margin-left:10px;"src="/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li style="margin-right:3px"class="nav-item active">
        <a id="nv-item" href="/" class="btn btn-dark col-sm-12" ><i class="fas fa-home"></i>  Home</a>
      </li>
      <li style="margin-right:3px"class="nav-item">
        <a id="nv-item" href="/research" class="btn btn-dark  col-sm-12"><i class="fas fa-microscope"></i>  Research </a>
      </li>
      <li style="margin-right:3px"class="nav-item">
       <a id="nv-item"href="/courses" class="btn btn-dark col-sm-12"> <i class="fas fa-graduation-cap"></i>  Courses </a>
      </li>
       <li style="margin-right:3px"class="nav-item">
        <a id="nv-item"href="/Marks" class="btn btn-dark col-sm-12" ><i class="fas fa-highlighter"></i>   Show Marks </a>
      </li>
      <li style="margin-right:3px"class="nav-item">
        <a id="nv-item"href="/contact" class="btn btn-dark col-sm-12" ><i class="fab fa-facebook-messenger"></i>   Contact Me </a>
      </li>
       <li style="margin-right:3px"class="nav-item">
        <a 
        id="nv-item"href="#" class="btn btn-dark col-sm-12" ><i class="fas fa-id-badge"></i>   About Me </a>
      </li>
    </ul>
  </div>
</nav>
  <p style="text-align:center;color: white; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">“YOU DON’T HAVE TO BE GREAT TO START, BUT YOU HAVE TO START TO BE GREAT.” </p>
</div>
</div>
