<div class="col-lg-10 form-group content-param">
<br><br><br>
 <div class="form-group " id="adn-insertData-form">
     
     <form action="" enctype="multipart/form-data" method="post">
<h3 id="adn-insert-data-title"> Upload Tp </h3>
    <input id="adn-insertData-inputs" name="title" type="text" class="btn btn-dark col-lg-12" placeholder="Tp Name .." >

    <input id="adn-insertData-inputs"name="linkk" type="text" class="btn btn-dark col-lg-12" placeholder="Tp link .." >
    
   <select id="adn-insertData-inputs"name="modulee"  class="custom-select btn btn-dark col-lg-12" id="inputGroupSelect01">
    <option selected> Wich module</option>
    {{#each modulee}}
    <option value="{{_id}}">{{title}}</option>
    {{/each}}
  </select>
 
  <button id="adn-insertData-inputs"type="submit" class="btn btn-dark col-lg-12">Upload</button>
   </form>
</div>

</div>