<div class="col-lg-2"></div>
             <div id="navi"class="fixed-left col-lg-2 nav-param ">
               <!-- logo -->
             <a href="/"><img  style="height: 150px;margin-left:10px;"src="/logo.png"   alt=""> </a>
              <!-- nav content -->
                    <div>
                        
<a id="nv-item" href="/admin/courses" class="btn btn-dark col-sm-12" ><i class="fas fa-graduation-cap"></i> courses  </a>
<a id="nv-item"href="/admin/emails" class="btn btn-dark col-sm-12" ><i class="far fa-envelope"></i> messages </a>
<a id="nv-item" href="/admin/modules" class="btn btn-dark col-sm-12" ><i class="fas fa-book-open"></i> modules </i></a>
<a id="nv-item"href="/admin/users" class="btn btn-dark col-sm-12"><i class="fas fa-user-circle"></i> users </a>
<a id="nv-item"href="/admin/profil" class="btn btn-dark col-sm-12" ><i class="fas fa-address-card"></i> Profil </a>
<a id="nv-item"href="/admin/research" class="btn btn-dark col-sm-12" ><i class="fas fa-microscope"></i> Research </a>
<div class="dropdown">
  <button  id="nv-item"class="btn btn-dark  col-sm-12" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i class="far fa-file-pdf"></i> insert data 
  </button>
  <div style=" background-color:#23252F ;"class="dropdown-menu col-sm-12" aria-labelledby="dropdownMenuButton">
    <a id="nv-item-data" class="dropdown-item btn btn-outline-primary " href="/admin/modules/InsertCours">insert cours </a>
    <a id="nv-item-data"class="dropdown-item btn btn-outline-primary" href="/admin/modules/InsertTd">insert td </a>
    <a id="nv-item-data"class="dropdown-item btn btn-outline-primary" href="/admin/modules/InsertTp">insert tp</a>
  </div>
</div>

                    </div>

                    <!-- nav icon -->
                   
                <br>
                <div class="form">
                  
                    <a id="nv-item" href="/log" class="btn btn-dark  col-sm-12" ><i class="fas fa-sign-out-alt"></i>  Logout</a>
                    
                    
                </div>
                
                </div>
                
                
  